/*COSAS GENERALES ------------------------------------------------------------*/
.header li{
	font-family: 'Asap', sans-serif;
}

h1{
	text-align: center;
	margin-top: 10px;
	font-size: 48px;
	font-family: 'Volkhov', sans-serif;
	letter-spacing: 2.5px;
}
h2{
	text-align: center;
	font-size: 36px;
	font-family: 'Volkhov', sans-serif;
	letter-spacing: 2px;
}
h3{
	text-align: center;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
}
p,li{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
body{
	height: auto;
	width: 100%;
	padding: 0;
	margin: 0;
}
/*Separar texto y titulo la pantalla*/
.cuadrado{
	padding: 20px 45px;
	text-align: justify;
	
}
/*Separar texto y titulo de Nosotros*/
.cuadrado p,
.cuadrado h1{
	margin-top: 25px;
}

/*-----------------------------------------------------------------------------------------*/
/*INICIO DEL BANNER */
/*FINAL DE LA PAGINA (FOOTER) --------------------------------------------------------------------*/
/*Pie de pagina*/
footer{
	height: 100px;
	width: 100%;
	margin: 35px 0 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color:  #263f6a ;
	position: absolute;
}
.imagenes1{
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
/*Los elementos li estan en bloque de linea */
.imagenes1 li{
	display: inline-block;
	margin: 0 10px;
	width: 60px;
	height: 50px;
	text-align: center;
}
.imagenes1 li a{
	display: block;
	padding: 0 5px;
	background-color: white;
	color: black;
	line-height: 50px;
	font-size: 40px;
	transition: 1s;
}
/*Toda la caja del incono se mueve para arriba en 1s*/
.imagenes1 li a:hover{
	transform: translateY(-10px);
}
/*Dar color al fondo pasando el mouse*/
.imagenes1 ul li .face:hover{
	color: white;
	background-color: #139dec;
background-image: linear-gradient(160deg, #139dec 0%, #70bef7 100%);
}
/*Dar color al fondo pasando el mouse*/
.imagenes1 ul li .whats:hover{
	color: white;
	background-color: limegreen;
}
/*Dar color al fondo pasando el mouse*/
.imagenes1 ul li .insta:hover{
	color: white;
	background-color: #e2b728;
background-image: linear-gradient(28deg, #e2b728 0%, #f02f88 46%, #c749f2 100%);
}
/*Quitar la linea inferior de cada enlace*/
.imagenes1 a{
	text-decoration: none;
}
.item1{
	font-size: 20px;
	margin-right: auto;
	flex-direction: row;
	width: 400px;
	margin-top: auto;
	margin-left: 10px;
}

/*Servicios---------------------------------------------------------------------------------------------*/

/*El padre de mis tarjetas lo hace responsivo*/
.padre{
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: auto;
	justify-content: center;
}
/*Dar formato a las tarjetas de los servicios*/
.contenedor{
	width: 370px;
	height: 560px;
	background-color: #f4f8fa;
	margin: 15px 10px 10px 15px;
	display: flex;
	flex-direction: column;
	}
/*Ajustar la imagen al centro*/
.contenedor img{
	height: 230px;
	width: 300px;
	margin: 15px 5px 10px 25px;
	}

/*Justificar el texto de las tarjetas*/
.contenedor p{
	text-align: justify;
}
.contenedor h3{
	font-size: 20px;
	padding:15px 0;
}
/*Ajustar listas*/
.contenedor li{
	font-size: 19px;
	padding: 0;
}
/*Colocar un enlace para ver mejor el producto*/
.Mas{
	margin-left: auto;
	margin-right:20px ;
	margin-bottom: 0;
	text-decoration: none;
	font-size: 18px;
}
/*Efecto del botn ver mas */
.Mas:hover{
	color: blue;
	text-decoration: underline;
	font-size: 20px;
}
/*Productos---------------------------------------------------------------------------------------------*/
/*El padre de mis tarjetas lo hace responsivo*/
.padre2{
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: auto;
	justify-content: center;
}
/*Dar formato a las tarjetas de los servicios*/
.contenedor2{
	width: 310px;
	height: 300px;
	background-color: #f4f8fa; 
	margin: 15px 10px 15px 10px;
	display: flex;
	flex-direction: column;
}
/*Ajustar la imagen al centro*/
.contenedor2 img{
	height: 55%;
	width: 250px;
	margin:auto;
	margin-top: 15px;

	}

/*Justificar el texto de las tarjetas*/
.contenedor2 p{
	text-align: justify;
}
.contenedor2 h3{
	padding-bottom: 35px;
	font-size: 20px;
}
/*Tarjetas de las marcas*/
.contenedor3 img{
	width: 200px;
	height: 150px;
	opacity: 0.7;
	margin: 15px 25px;
	display: flex;
	flex-direction: column;
}
/*Efecto de las tarjetitas de marcas*/
.contenedor3 img:hover{
 opacity: 1;
 height: 155px;
}
/*Ajustar titulo de las tajertas*/
.titulo h3{
	font-size: 20px;
  }
/*Contacto ------------------------------------------------------------------------------------------*/
/*Alinear formulario y texto */
.caja{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;	
	flex-direction: row;
	justify-content: space-around;
}
/*Complemento de la caja de texto*/
.complemento{
	width: 450px;
	height: auto;
	background-color:  #ec7063 ;
	display: flex;
	margin: 15px 0 15px 0;
}
/*Texto a lado del formulario */
.frase{
	font-size: 36px;
	padding: 10px;
}
/*Ajustar formulario y darle color gradiente */
/*

form{
	width: 480px;
	height: auto;
	background-color: #f9bb41;
	background-image: linear-gradient(43deg, #f9bb41 0%, #505dc8 46%, #f9bb41 100%);
	padding: 10px;
	border: black solid 1px;
	border-radius: 3px;
}
/*Ancho de los cuadros de texto de formulario
form .texto{
	width: 60%;
	height: 25px;
	border-radius: 5px;
	font-size: 20px;
}
form .texto1{
	width: 60%;
	height: 35px;
	border-radius: 5px;
	font-size: 20px;
}


*/
/*Dar efecto a los botones del formulario */
.boton1{
	padding: 10px;
	margin: 5px 15px 0 15px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	border-radius: 15px;
	text-decoration: none;
	background: #FF4E50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #000000;
}
/*Efectos de los botones del formularios*/
.boton1:hover{
 background: #FF4E50;
}
/*Ajustar la caja de la imagenes de redes sociales*/
.imagenes{
	height: 50px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}
/*Los elementos li estan en bloque de linea (caja de cada icono) */
.imagenes li{
	display: inline-block;
	margin: 0 10px;
	width: 100px;
	height: 80px;
	text-align: center;
}
/*Dar color al icono y a su caja */
.imagenes li a{
	display: block;
	padding: 5px 5px;
	background-color: white;
	color: black;
	line-height: 50px;
	font-size: 40px;
	transition: 1s;
}
/*Toda la caja del incono se mueve para arriba en 1s*/
.imagenes li a:hover{
	transform: translateY(-10px);
}
/*Dar color al fondo pasando el mouse*/
.imagenes ul li .face:hover{
	color: white;
	background-color: #139dec;
background-image: linear-gradient(160deg, #139dec 0%, #70bef7 100%);
}
/*Dar color al fondo pasando el mouse*/
.imagenes ul li .whats:hover{
	color: white;
	background-color: limegreen;
}
/*Dar color al fondo pasando el mouse*/
.imagenes ul li .insta:hover{
	color: white;
	background-color: #e2b728;
background-image: linear-gradient(28deg, #e2b728 0%, #f02f88 46%, #c749f2 100%);
}
/*Quitar la linea inferior de cada enlace*/
.imagenes a{
	text-decoration: none;
}